/* .container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: yellow;
    important part
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
  }
  
  .inner {
    height: 100px;
    width: 100px;
    important part
    grid-area: inner-div;
  } */
  .container_row{
    display: grid;
  }
  
  .layer1, .layer2{
    grid-column: 1;
    grid-row: 1;
  }
  
  .layer1{
    color: blue;
    background: red;
    animation-direction: reverse;
  }
  
  .layer2{
    color: white;
    background: blue;
  }
  .layer1, .layer2 {
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }